html, body{
    font-family: 'Inter', sans-serif;
    background-color: #ddd;
    /* background: linear-gradient(322deg, rgba(43,46,39,1) 29%, rgba(28,28,28,1) 29%, rgba(28,28,28,1) 40%, rgba(43,46,39,1) 40%, rgba(43,46,39,1) 48%, rgba(28,28,28,1) 48%, rgba(28,28,28,1) 92%, rgba(113,174,33,1) 92%, rgba(113,174,33,1) 100%); */
}

html,
body,
ul, 
ul li,
h3{
    margin:0;
    padding:0;
}

.container{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
    position: relative;
    background-color: #fff;
}

header {
    background:linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
      ), url('https://s3-alpha-sig.figma.com/img/dafe/fd94/40637dd9b0240098474b6d8dd9487d8c?Expires=1702857600&Signature=CAdpS8hmcda7kvGS0VHtSoyyXkXzFwtbVGCk7-KgNyT5riNnsmFziDQhoYkksdfwRCCkJMiWcPJAyUnOeGhCFJDZjXpRZZRcHBTNlyvLQb2nhkpcGSGgcVq-UF-AOnFkWMF1S7B5vBbvWngg0EUiOS52GeWVo4Ua6qLWkiUUSwEUdUC0ySy5g51Qf8Vwp~RFJpa~yyehTOrAL4o5-082FgqaqP4m51Yzk7gKueQTUn4ts7yZT~bijQUzdBjpBRgEjCJI-8DI7t9LeEm~ue4NRWeqMTimO0sPE2jf4bBSK34qANRqM5MEQB7Q82PpfdFF1~IXW7Lksi3lvewp3WHfpA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4');
    background-position: 50% 20%;
    background-color: #11111133;
    background-size: cover;
    color:white;
    height:208px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
}


header h1 {
    margin: 1em;
    padding: 0;
    font-size: 2.2rem;
}

header a{
    color:white;
    text-decoration:none;
    font-size: 1rem;
    font-weight: bold;
    margin:3em;
}


#search-container,
#search-container input
{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
#search-container,
#search-container button
{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

#search-container{
    width:85%;
    border:1px solid #555;
    margin: auto;
    display: flex;
    position: absolute;
    left:8%;
    top:190px
}
#search-container input{
    border: none;
    padding: 0.8em;
    width: auto;
    flex-grow: 1;
}
#search-container button{
    border:none;
    border-left: 1px solid #555;
    background-color: white;
    padding: 0.8em;
    margin-left: auto;
    width: 120px;
}
#search-container button:hover{
    background-color: #eee;
    cursor: pointer;
}


#main-section{
    display: flex;
    min-height: 500px;
}

#main-placeholder{
    color:#555;
    text-align: center;
    margin:auto;
}

#main-placeholder i{
    font-size: 6rem;
}


.movie-element{
    display: grid;
    grid-template:  1fr 1fr 2fr  / 1fr 4fr;
    list-style-type: none;
    width:84%;
    /* background-color: aquamarine; */
    box-sizing: border-box;
    margin: auto;
    padding: 1em 0;
    border-bottom: 2px solid #898989;
}


.movie-element img {
    height:120px;
    grid-row: 1 / -1;
}


h3 i{
    color: rgb(250, 236, 39);
}
h3 span{
    font-size: .8rem;
}

.movie-element-info{
    display: flex;
    justify-content: space-between;
}

.movie-element-info button{
    background-color: #fff;
    border:none;
    font-weight: bold;
    position:relative;
    top:-5px
}
.movie-element-info button:hover{
    color:#666;
    cursor: pointer;
}

.movie-element p{
    display: inline-block;
    margin: 0;
}
